@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap');

:root{
    --fuenteheading: 'PT SANS', sans-serif;
    --fuenteparrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --blanco: #ffff;
    --negro: #000000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 ren = 10px */
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Global Template */

.content{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: 'PT Sans', sans-serif;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/* utility */ 

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.center-text{
    text-align: center;
}

.header{
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-text{
    text-align: center;
    color: #fff;
    margin-top: 5rem;
}

@media (min-width:768px) {
    .header-text{
        margin-top: 15rem;
    }
}


/*  logo*/

@media (min-width: 768px) {   
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    color: #fff;
}

.logo-name{
    font-weight: 300;
}

.logo-bold{
    font-weight: 700;
}

.nav-link{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
}

@media (min-width:768px) {
    .nav-link{
        display: flex;
        gap: 2rem;
    }
}